<section class="relative">
        <img src="assets/svgs/hero-background.svg" class="">
        <div class="flex w-full justify-around bottom-0 absolute">
            <div>
                <div class="flex flex-col gap-4">
                    <div class="flex gap-8 items-center">
                        @for (item of logos; track $index) {
                            <img [src]="item">
                        }
                    </div> 
                    <h1>&#169; 2023 All Right Reserved | AjiCreative</h1> 
                    <div class="grid grid-cols-2 gap-2">
                        @for (item of aboutUs; track $index) {
                            <p class="break-words">{{item}}</p>
                        }

                    </div> 
                </div>
            </div>
            <div class="self-end">
                <img src="assets/images/certificates.png">
            </div>

        </div>
</section>